.bg_header {
  background-color: #2B3E50;
}

.bg_green {
  background-color: #30BC9C;
}

.c_green {
  color: #30BC9C
}

.img_15rem {
  width: 15rem;
}

.flex_stella, .flex_icone{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividendo_stella{
  border: 2px solid;
  width: 5rem;
}

.fa-star{
  font-size: 2rem;
  padding: 1rem;
}

.img_100 {
  width: 100%;
}

.bg_location{
  background-color: #3A546E;
}

.fa-downloads{
  padding-right: 0.5rem;
}

.socials {
  width: 3rem;
  height: 3rem;
}

.bordi_contact {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CCCCCC;
}
